---
import CountdownTimer from "./CountdownTimer.astro";
---
<div class="discordContainerWrapper">
    <div class="discordContainer">
        <div class="headerWrapper">
            <h2 class="discordHeader" style="font-family: minecraft; font-weight: bold; color: #fff243">Start turnieju Minecraft za:</h2>
        </div>
        <CountdownTimer />
        <p class="countdownExtraInfo">Końcówka kwietnia: startuje serwer <b>Mini Games</b>.</p>
    
    </div>
</div>

<style>
    .discordContainerWrapper{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
        max-width: 1220px;
    }
    .discordContainer {
        width: 100%;
        flex-direction: column;
        background: linear-gradient(
            rgba(44, 45, 50, 1) 0%,
            rgba(0,0,0,1) 100%
        );
        /* background-color:rgb(44, 45, 50); */
        color: white;
        border-radius: 20px;
        border: 1px solid #424549;
        padding: 15px;
        align-items: center;
        justify-content: center;
    }
    .headerWrapper{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .subHeaderWrapper{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 10px 15px 0px;
        color: white;
    }
    .discordHeader {
        text-align: center;
    }
    .discordSubHeader {
        margin: 0 0 0 15px;
        text-align: center;
    }
    .discordText {
        color: white;
        text-align: center;
    }

    .countdownExtraInfo {
        margin: 4px 0 0 0;
        text-align: center;
        color: #ffd88c;
        font-weight: 600;
        font-size: clamp(1rem, 1.4vw, 1.2rem);
    }
    .discordUrl{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;
        text-decoration: none;
        color: 	#7289da;
        font-weight: 600;
        font-size: 48px;
    }
    .discordUrl:hover{
        color: 	#b8c4f0;
    }

    .discordIcon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        overflow: hidden;
    }

    .discordIcon svg{
        width: 50px !important;
        height: 50px !important; 
    }

</style>