---
import "../../../styles/global.css"
import "./MobileMenu.styles.css"
---
<div class="mobileMenu" id="mobileMenu">
    <div class="mobileMenuInnerWrapper">
        <div class="mobileMenuInner">
            <div class="submenuHeader">Serwer Minecrafthex</div>
            <div class="fullWidthTileContent"><a href="/hexParkour">Serwer Parkour</a></div>
            <div class="fullWidthTileContent"><a href="/hexEvent">Serwer Event Zone</a></div>
            <div class="fullWidthTileContent"><a href="/hexMiniGames">Server mini gier</a></div>
            <div class="fullWidthTileContent"><a href="/hexPvp">Serwer PVP</a></div>
            <div class="fullWidthTileContent"><a href="/hexHardcoreSmp">Serwer Hardcore SMP</a></div>
            
            <div class="submenuHeader">Hex Network</div>
            <!-- <div class="fullWidthTileContent"><a href="/future">Przyszłe projekty</a></div> -->
            <div class="fullWidthTileContent"><a href="/archive">Archiwum eventów</a></div>
            <div class="fullWidthTileContent"><a href="/shop">Sklep</a></div>

            <div class="submenuHeader">Kontakt</div>
            <!-- <div class="fullWidthTileContent"><a href="/future">Przyszłe projekty</a></div> -->
            <div class="fullWidthTileContent"><a href="/about">O nas</div>
            <div class="fullWidthTileContent"><a href="/contact">Kontakt</a></div>
        </div>
    </div>
</div>


